<!DOCTYPE html>
<html>
  <head>
    <title>Carmour</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="static/favicon.png" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <style>
    {% include 'css/index.css' %}
  </style>

  <body>
    <nav class="navbar">
      <img src="/static/logo.png" width="192" height="108" class="d-inline-block align-top" alt="" style="background-color: transparent; filter: brightness(0) invert(1); margin-left: -50px;">
    </nav>
    <div class="row" style="height: calc(70% - 43px); width: 100%; margin: 0px;">
        <div id="map"></div>
    </div>

    <div class="row" style="max-height: calc(30% - 43px); margin: 0; padding: 0;">
      <div class="col-6" style="padding-right: 5px; padding-left: 0; margin: 0;">
        <div class="table-wrapper-scroll-y" id="style-1">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <th colspan="2" style="text-align: center;">Incidents</td>
              </tr>
            {% for incident in incidentData %}
                <tr id="{{incident['timeStamp']}}" style="cursor: pointer;">
                  <td>{{incident["type"]}}</td>
                  <td>{{incident["dateStr"]}}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
    <div class="col-6" style="padding-right: 0; padding-left: 5px; margin: 0;">
      <div class="table-wrapper-scroll-y" id="style-1">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th colspan="2" style="text-align: center;">Watch Dogs</td>
            </tr>
            {% for watchDog in watchDogsData %}
            <tr id='{{watchDog["name"]}}' style="cursor: pointer;">
              <td>{{watchDog["name"]}}</td>
              <td>{{watchDog["status"]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </body>

  <footer>
      <p style="margin-left: 35px; margin-bottom: 0px; color: #BDC3C7; display: inline; float: right;">Zachary Chao | Siddhartha Datta | Tushar Jain | Rea Savla 2018. All rights reserved. &nbsp;&nbsp;</p>
  </footer>

  <script>
    {% include 'js/map.js' %}
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO-4cC7zlTtzzAhS01USFJbopynYSKF7A&callback=initMap" async defer></script>
</html>